// Variables

$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);
$gray-lighter: lighten(#000, 93.5%);
$gray-lightest: lighten(#000, 97.25%);
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

//Navbar colors
$navBgColor             : #2d6bbf;
$navBgColorHighlight    : #3a79ce;
$navColumnColor         : #ffffff;
$navColumnColorHighlight: #83afea;

$twbs_bp_small          : 768px;
$twbs_bp_medium         : 992px;
$twbs_bp_large          : 1200px;

$twbs_width_small       : 750;
$twbs_width_medium      : 970;
$twbs_width_large       : 1170;


